

.timer{
  display: flex;
 
}
.field{
  display: flex;
  flex-direction: column;
  align-items: center;
 width: 60px;
 
}
.value{
  font-size: 30px;
  color: rgb(156, 64, 64);
 
}
a{
  color: brown;
}